body {
    font-size: 1.4rem;
    background-color: #efddbc7b;
}
h1 {
    text-align: center;
    text-decoration: 1.5px underline;
}
input[type="text"],
input[type="email"],
input[type="number"] {
    height: 1.5rem;
    text-align: center;
}
#fill {
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-between;
}
#btn {
    display: flex;
    width: 15rem;
    margin: 1.5rem 2rem;
    justify-content: space-around;
}
